[Unit]
Description=Shuttle Client Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/opt/shuttle/shuttle /opt/shuttle/client.yaml

[Install]
WantedBy=multi-user.target
